@media screen and (max-width: 450px) {
  html {
    font-size: 55.5%;
  }
  .colors {
    height: 50rem;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 1.6rem;
    }
  }
  .controls {
    display: flex;
    flex-direction: row;
    button {
      margin: 1rem;
    }
  }
  .panel {
    height: 10rem;
  }
  .sliders {
    height: 13vh;
    width: 100%;
    input {
      margin: 0;
      height: 40%;
      width: 90%;
    }
    span {
      font-size: 1rem;
    }
    button {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .colors {
    display: flex;
    flex-direction: column;
    height: 85vh;
    h2 {
      font-size: 1.6rem;
    }
  }
  .controls {
    display: flex;
    flex-direction: row;
    button {
      margin: 1rem;
    }
  }
  .panel {
    height: 15vh;
  }
  .sliders {
    height: 10.5vh;
    width: 100%;
    padding: 0.5rem;
    input {
      margin: 0;
      height: 40%;
      width: 90%;
    }
  }
}

@media screen and (max-width: 400px) {
  .colors {
    height: 80vh;
    h2 {
      font-size: 1rem;
    }
  }
  .controls {
    button {
      margin: 1rem;
      font-size: 1rem;
    }
  }
  .panel {
    height: 20vh;
    button {
      font-size: 1.2rem;
      width: 100%;
    }
    p {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 900px) and (min-width: 768px) {
    .colors {
      min-height: 60vh;
    }
    .panel {
      height: 30rem;
    }
  }
  @media screen and (max-width: 240px) {
    html {
      font-size: 35%;
    }
    .colors {
      height: 40vh;
    }
    .panel {
      height: 15vh;
    }
    .sliders {
      height: 13vh;
      width: 100%;
      padding: 0.1rem;
      input {
        margin: -3px;
        height: 60%;
        width: 90%;
      }
    }
  }
}
@media screen and (min-width: 1280px) and (max-width: 2000px) {
  html {
    font-size: 68.5%;
  }
  .panel {
    button {
      font-size: 2.2rem;
    }
  }
}
@media screen and (min-width: 2000px) {
  html {
    font-size: 80.5%;
  }
  .color {
    h2 {
      font-size: 4.5rem;
    }
  }
  .panel {
    button {
      font-size: 4rem;
    }
    p {
      font-size: 2.5rem;
    }
  }
  .adjust,
  .lock {
    font-size: 4rem;
  }
}
