@media screen and (max-width: 450px) {
  .colors {
    height: 50rem;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 1.6rem;
    }
  }
  .controls {
    display: flex;
    flex-direction: row;
    button {
      margin: 1rem;
    }
  }
  .panel {
    height: 10rem;
  }
}

@media screen and (max-width: 1024px) {
  .colors {
    min-height: 69vh;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 1.6rem;
    }
  }
  .controls {
    display: flex;
    flex-direction: row;
    button {
      margin: 1rem;
    }
  }
  .panel {
    height: 10vh;
  }
}

@media screen and (max-width: 400px) {
  .colors {
    min-height: 80vh;
    h2 {
      font-size: 1rem;
    }
  }
  .controls {
    button {
      margin: 1rem;
      font-size: 1rem;
    }
  }
  .panel {
    height: 20vh;
    button {
      padding: 1rem 1rem;
      font-size: 0.75rem;
      margin-top: 3rem;
    }
    p {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 900px) and (min-width: 768px) {
    .colors {
      min-height: 60vh;
    }
    .panel {
      height: 30rem;
    }
  }
  @media screen and (max-width: 240px) {
    .colors {
      height: 40vh;
    }
    .panel {
      height: 15vh;
    }
  }
}
