@media screen and (max-width: 600px) {
  .colors {
    height: 55rem;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 1.6rem;
    }
  }
  .controls {
    display: flex;
    flex-direction: row;
    button {
      margin: 1rem;
    }
  }
  .panel {
    height: 10rem;
  }
}
